# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/
env/

# Config e Inteligencia Artificial
.env
*.secret
api_key.txt

# Archivos temporales de la app (Carga de Excels)
temp/
*.xlsx
*.xls
*.csv

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
